*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*/bin
*/obj
*/Release
*/Debug
*/WebEvents
*/SoapView
*.suo
*.err
*.log
*.obj
*.bin
*.user
*.pdb
[tT]emp
[tT]empPE
Ankh.Load
thumbs.db
*.resharper
*.vspscc
*.vsssccc
*.scc
*/_ReSharper*
*/_ReSharper.*
bin/
obj/
*.resharperoptions
*.db
*.bak
*_ReSharper*
*.snk
logs/
output/
TestResults/
*.crunchsolution.*
*.crunchproject.*
DesignTimeResolveAssemblyReferencesInput.cache
ResolveAssemblyReference.cache
*.csproj.FileListAbsolute.txt
*.log
*.force
*.user
*.csproj.user
LastActions.xml
packages/
WebEvents/
Versions/
I18N/
node_modules/