<header id="header" class="clearfix">
    <h1 class="text-center">Askkelly.com</h1>
    <h2 class="text-center">Get your free quote!</h2>
</header>
<section id="main">
    <div class="block image-list">
        <ul>
            <li ng-repeat="p in products">
                <a href="javascript:;" ng-click="go('/user/' + p.id)">
                    <img ng-src="{{p.logo}}" alt="{{p.title}}" /></a>
            </li>
        </ul>
    </div>
    <div class="block form">
        <h3 class="title">See below who Kelly really is...</h3>
        <p class="field">
            <textarea>USP 1: 
			    Lorum ipsum Lorum Ipsum 
			    Lorum ipsum Lorum Ipsum 
			    Lorum ipsum Lorum Ipsum 
			    Lorum ipsum Lorum Ipsum 
		    </textarea>
        </p>
        <p class="field">
            <textarea>USP 2: 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
			</textarea>
        </p>
        <p class="field">
            <textarea>USP 3: 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
				Lorum ipsum Lorum Ipsum 
			</textarea>
        </p>
        <table class="links">
            <tr>
                <td><a href="javascript:;" ng-click="go('/content')">Link1</a></td>
                <td><a href="javascript:;" ng-click="go('/content')">Link1</a></td>
                <td><a href="javascript:;" ng-click="go('/content')">Link1</a></td>
            </tr>
        </table>
    </div>
</section>
